html,
body,
#root
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('./static/textures/sky.jpg') ;
}

.interface{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    font-family:  "Pixelify Sans", sans-serif;
}
.time{
    position: absolute;
    top: 5%;
    left: 0;
    width: 100%;
    color: #252727;
    font-size: 6vh;
    /* background: #00000035; */
    padding: 5px;
    text-align: center;
}

.restart{
    display: flex;
    justify-content: center;
    position: absolute;
    top: 40%;
    left:0;
    width: 100%;
    color: #000000;
    background: #fdfbfa;
    padding-top: 10px;
    pointer-events: auto;
    cursor: pointer;
    font-size: 40px;
}
.controls
{
    position: absolute;
    bottom: 10%;
    left: 0;
    width: 100%;
}
.controls .raw
{
    display: flex;
    justify-content: center;
}.controls .key
{
    width: 20px;
    height: 20px;
    margin: 4px;
    background: #ffffffa6;
}


.controls .key.large{
    width: 134px;
}

.controls .key.active{
    background: #171818;
}
